/* Maddie's Profile Box Code */

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

.doubleFont{
    font-family: 'IM Fell Double Pica SC', serif;
}
.dwFont{
    font-family: 'IM Fell DW Pica', serif;
}

.profileBox{
    background-color: #302C2B;
    color: white;
    margin-left: 5%;
    border-radius: 5px;
}

.profilePic{
    width: 100%;
    margin-bottom: 10px;
}

/* Maddie's Profile Box Code */

.profile {
 color: white;
 padding-top: 10px;
}


body {
  background-color: #4A423F !important;
}

.title-container {
  position: relative;
  width: 100%;
  height: 116px;
  overflow: hidden;
}

.image-container1{
  position: relative;
  width: 100%;
  height: 100%;
}

.logo-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(80%);
}
.title-containerDos{
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
/* ------------------------------------------ */

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -40%);
  z-index: 1;
}

.text {
  font-family: 'IM Fell Double Pica SC', serif; 
  font-size: 30px;
  font-weight: bold;
  color: #D9D9D9;
  text-align: left;
}
.favorites-text1 {
  font-family: 'IM Fell Double Pica SC', serif; 
  font-size: 20px;
  font-weight: bold;
  color: #D9D9D9;
  text-align:end;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 20px;
  padding: 20px;
}

.button-container .button {
  margin-left: 10px;
}
.button {
  font-size: 17px; /* increase font size */
  padding: 10px 20px; /* increase padding */
  border: 2px solid rgb(66, 60, 60);
  border-radius: 20% / 100%;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-family: 'Hind Guntur', sans-serif;
  font-weight: bold;
  background-color: #E0F4A6;
   filter: contrast(55%)
}
@media only screen and (max-width: 576px) {
  .text {
    font-size: 35px;
  }

  .button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media only screen and (max-width: 768px) {
  .text-overlay {
    left: 20%;
  }
}

@media only screen and (max-width: 992px) {
  .text-overlay {
    left: 25%;
  }
}

@media only screen and (max-width: 1200px) {
  .text-overlay {
    left: 30%;
  }
}

/* table */

.my-table tr {
  border: 1px solid gold;
  color: #D6BA73;
font-family: 'IM Fell DW Pica', serif;

}

.my-table td, .my-table th {
  border: 1px solid gold;
  color: #D6BA73;
 /* or any other color you prefer */
}
.my-table td button {
   display: block;
  margin: 0 auto;
  font-size: 16px;
  padding: 8px 16px;
  background-color: #E0F4A6;
  font-weight: bold;
  filter: contrast(55%)

}
/* ------------------Join Campaign css-------------------- */

.favorties-title-container1{
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
  padding-inline-end: 40px;
}
.favorties-image-container1{
  position: relative;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 550px) {
  .text-center {
    font-size: 24px;
    text-align: center;
  }
}

/* ------------------Join Campaign css-------------------- */

/* ------------------Tavern Board Post css-------------------- */

.button33 {
  display: block;
  margin: 0 auto;
  font-size: 17px; /* increase font size */
  padding: 10px 20px; /* increase padding */
  border: 2px solid rgb(66, 60, 60);
  border-radius: 20% / 100%;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-family: 'Hind Guntur', sans-serif;
  font-weight: bold;
  background-color: #E0F4A6;
   filter: contrast(55%)
}

.card-description {
  text-align: center;
  font-size: 20px;
}
.card-font-description{
  text-align: center;
  color:#D6BA73;
}
@media only screen and (max-width: 500px) {
  .card-container1 {
    display: hide;
  }
}
@media only screen and (max-width: 500px) {
  .card-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .card {
    width: 100%;
    height: 530px;
    margin: 40px 0 0 0;
    background-color: #4A423F;
    border: 2px solid #FFA825;
  }
}
 /* ------------------------------------------ */


/* -----------FAVORITES BELOW--------------------- */
.favorites-text-overlay1{
  position: absolute;
  top: 40%;
  left: 33%;
  transform: translate(-60%, -0%);
  z-index: 1;
}

.userfonts{
  font-size: 25px;
  font-weight:bold
}
.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 147px
}

.centered-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px; /* adjust the font size as needed */
  text-align: center;
  /* letter-spacing: '-1px'; */
  color: white;

}


.logo-image1{
  width: 70%;
  height: auto;
  object-fit: cover;
  filter: contrast(80%);
  border-radius: 60%
}

.favorites-cardbutton{
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  height: 50px;
  padding: 10px 20px;
  background-color: #4A423F;
  color: white;
}
.favorites-cardButton1{
  width: 100%;
  margin: 1px;
  border-radius: 10px;
  height: 50px;
  padding: 10px 20px;
  background-color: #4A423F;
  color: white;
}
.favorites-CenterMainCard{
width: 50rem;
height: 570px;
margin-top: 30px;
margin-right: 50px;
margin-left: 30px;
background-color: #4A423F;
border: 2px solid #FFA825;
}
.favorites-SearchButton {
width: 40%;
margin-left: 10px;
border-radius: 10px;
height: 50px;
padding: 10px 20px;
background-color: #4A423F;
color: white;
}

/* ------------------------------------------ */