@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');


.landingBg{
    background-color: #4A423F;
    height: 100vh;
}

/* DESKTOP */
@media screen and (min-width: 1440px ) {
    
    .heroTxt {
        margin-top: -20%;
        font-family: 'IM Fell Double Pica SC', serif;
        text-align: center;
    }

    #heroTxt{
        color:#cb8f16;
        font-size: 40px;
        text-shadow: -1px 1px 0 #4A423F,
                      1px 1px 0 #4A423F,
                     1px -1px 0 #4A423F;
    }
    
    .tavernImg {
        width: 90%;
        margin-left: 3%;
    }
    
    .tavernTxt{
        margin-top: -58%;
        color: white;
        font-size: larger;
    
    }
    
    .tavernTitle{
        font-size: xx-large;
        color: #cb8f16;
        margin-left: -50px;
    }
    
    .tavernBtn{
        background-color:#cb8f16;
        border-color: #4A423F;
        color:#4A423F;
        font-size: large;
        margin-left: -50px;
    }
    
    
    .cardOne {
        margin-right: -5px;
        background-color:#302C2B;
        color: white;
        border-color: white;
    }
    
    .cardTwo {

        background-color:#302C2B;
        color: white;
        border-color: white;
    }

    .desktopRow{
        margin-top: 20%;
    }
}

/*  */
/* LAPTOP */

@media screen and (max-width: 1439px) and (min-width: 769px ) {
    .heroTxt {
        margin-top: -20%;
        font-family: 'IM Fell Double Pica SC', serif;
        text-align: center;
    }
    
    #heroTxt{
        color:#cb8f16;
        font-size: 30px;
        text-shadow: -1px 1px 0 #4A423F,
                      1px 1px 0 #4A423F,
                     1px -1px 0 #4A423F;
    }
    
    .tavernImg {
        width: 420px;
        margin-left: 2.5%;
    }
    
    .tavernTxt{
        margin-top: -65%;
        color: white;
        font-size: medium;
        margin-bottom: -15px;
    }
    
    .tavernTitle{
        font-size: large;
        color: #cb8f16;
        margin-bottom: -10px;
        padding-top: 15px;
    }
    
    .tavernBtn{
        background-color:#cb8f16;
        border-color: #4A423F;
        color:#4A423F;
        font-size: x-small;
        margin-top: -20px;
        
    }
    

    .cardTitle{
        font-size: medium;
        margin-top: -10px;
    }

    .cardTxt{
        margin-top: -5px;
        font-size: small;
    }
    
    .cardOne {
        margin-left: 20px;
        background-color:#302C2B;
        color: white;
        border-color: white;
        height: 310px;
    }
    
    .cardTwo {
        margin-left: -10px;
        background-color:#302C2B;
        color: white;
        border-color: white;
        height: 310px;
    }

    .laptopRow{
        margin-top:23%;
    }
}

/*  */
/* TABLET */

@media screen and (max-width: 768px) and (min-width: 430px) {
    .heroTxt {
        margin-top: -23%;
        font-family: 'IM Fell Double Pica SC', serif;
        text-align: center;
    }
    
    #heroTxt{
        color:#cb8f16;
        font-size: 25px;
        text-shadow: -1px 1px 0 #4A423F,
                      1px 1px 0 #4A423F,
                     1px -1px 0 #4A423F;
    }
    
    .tavernImg {
        width: 500px;
        margin-left: 17%;
        margin-top: 21%;
    }
    
    .tavernTxt{
        margin-top: -280px;
        color: white;
        font-size: small;
    }
    
    .tavernTitle{
        font-size: medium;
        color: #cb8f16;
    }
    
    .tavernBtn{
        background-color:#cb8f16;
        border-color: #4A423F;
        color:#4A423F;
        font-size: small;
        
    }
    
    .cardImg {
        height: 120px;
    }

    .cardTitle{
        font-size: medium;
    }

    .cardTxt{
        font-size: small;
    }
    
    .cardOne {
        margin-left: 50px;
        background-color:#302C2B;
        color: white;
        border-color: white;
        height: 300px;
    }
    
    .cardTwo {
        margin-left: -50px;
        background-color:#302C2B;
        color: white;
        border-color: white;
        height: 300px;
    }

    .cardRow{
        margin-top: 12%;
    }
}

/*  */
/* MOBILE */

@media screen and (max-width: 426px) {
    .heroTxt {
        margin-top: -100px;
        font-family: 'IM Fell Double Pica SC', serif;
        text-align: center;
    }
    
    #heroTxt{
        color:#cb8f16;
        font-size: 20px;
        text-shadow: -1px 1px 0 #4A423F,
                      1px 1px 0 #4A423F,
                     1px -1px 0 #4A423F;
    }
    
    .tavernImg {
        width: 400px;
        margin-left: 2.5%;
    }
    
    .tavernTxt{
        margin-top: -5%;
        color: white;
        font-size: small;
    }
    
    .tavernTitle{
        font-size: medium;
        color: #cb8f16;
        margin-top: -60%;
    }
    
    .tavernBtn{
        background-color:#cb8f16;
        border-color: #4A423F;
        color:#4A423F;
        font-size: x-small;
        
    }
    
    .cardImg {
        height: 120px;
    }

    .cardTitle{
        font-size: small;
    }

    .cardTxt{
        font-size: x-small;
    }
    
    .cardOne {
        margin-left: 15px !important;
        background-color:#302C2B;
        color: white;
        border-color: white;
        height: 80px;
    }
    
    .cardTwo {
        margin-left: -5px !important;
        background-color:#302C2B;
        color: white;
        border-color: rgb(255, 255, 255);
        height: 100px;
    }

    .card{
        height: 250px  !important;
        border-color: white !important;
        border-width: 1px !important;
    }
}


#tavernTxt{
    text-shadow: -1px 1px 0 #4A423F,
                  1px 1px 0 #4A423F,
                 1px -1px 0 #4A423F;
}