@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

.doubleFont{
  font-family: 'IM Fell Double Pica SC', serif;
}
.dwFont{
  font-family: 'IM Fell DW Pica', serif;
}

.bg {
    background-color: #4A423F;
}

.navbarBg {
    background-color: #f1f1f1;
    height: 13vh;
    z-index: 2;
}

.navMargin {
    margin-left: -50px;
}

.navText {
    color: #445435;
    font-size: large;
    margin-top: 25%;
}

.navLogo {
    margin-left: -30px;
}

.navItems{
    color: rgb(51, 64, 42);
    font-size: larger;
    padding-right: 3%;
    margin-top: -5vh;
}

.navUserInfo{
    padding-right: 20px;
    margin-top: -5vh;
}

.navMenuIcon{
    color:rgb(51, 64, 42);
    margin-right: 5%;
    margin-top: -9vh;
}

.navLogoImg{
    margin-left: -5vw;
    /* max-width: 50vw !important; */
    height: 13vh;
}

.navProfPic{
    border-radius: 50px;
    margin-top: -3vh;
    
    margin-right: 20px;
    height: 60px;
    width: 60px;
}