@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

.doubleFont{
  font-family: 'IM Fell Double Pica SC', serif;
}
.dwFont{
  font-family: 'IM Fell DW Pica', serif;
}

.bg {
    background-color: #4A423F;
}

.navbarBg {
    background-color: #f1f1f1;
    height: 11vh;
}

.navMargin {
    margin-left: -50px;
}

.navText {
    color: #445435;
    font-size: larger;
    margin-top: 25%;
}

.logo {
    margin-left: -30px;
}

.navItems{
    color: rgb(51, 64, 42);
    font-size: x-large;
    padding-right: 3%;
    margin-top: -5vh;
}

.userInfo{
    padding-right: 20px;
    margin-top: -5vh;
}

.menuIcon{
    color:rgb(51, 64, 42);
    margin-right: 5%;
    margin-top: -5vh;
}

.logoImg{
    margin-left: -5vw;
    max-width: 60vw !important;
}