@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

.doubleFont{
  font-family: 'IM Fell Double Pica SC', serif;
}
.dwFont{
  font-family: 'IM Fell DW Pica', serif;
}

.bgImg{
    position: fixed;
    z-index: -2;
    width: 100vw;
    height: 100vh
}

.shadowBox{
    background-color: #302c2bb6;
    height: 70vh;
}

.white{
    color: white;
}

.title{
    text-align: center;
}

.input{
    height: 150% !important;
    width: 60vw !important;
}

.logo{
    width: 30%;
    padding-left: 40px;
}

/* DESKTOP */
@media screen and (min-width: 1025px) {
    .title{
        font-size: 50px;
    }

}

/* LAPTOP */
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .title{
        font-size: 40px;
    }
    
}

/* TABLET */
@media screen and (max-width: 768px) and (min-width: 426px) {
    .title{
        font-size: xx-large;
    }

}

/* MOBILE */
@media screen and (max-width: 426px) {
    .title{
        font-size: xx-large;
    }
    .accountTxt{
        font-size: small;
    }
    .shadowBox{
        height: 60vh;
    }

}