@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

.doubleFont{
  font-family: 'IM Fell Double Pica SC', serif;
}
.dwFont{
  font-family: 'IM Fell DW Pica', serif;
}

.loginBgImg{
    position: fixed;
    z-index: -2;
    width: 100vw;
    height: 100vh
}

.loginShadowBox{
    background-color: #272424d0;
    height: 60vh;
    width: 45vw;
}

.loginWhite{
    color: white;
}

.loginTitle{
    text-align: center;
    padding-top: 5%;
}

.loginInput{
    height: 150% !important;
    width: 30vw !important;
}

.loginInputTxt{
    padding-left: 16%;
}

.loginLogo{
    width: 10vw;
    margin-top: -5%;
}

.loginBtn{
    height: 45px;
    margin-top: 1%;
    background-color: #3b4732;
    border-color: #3b4732;
}

/* DESKTOP */
@media screen and (min-width: 1025px) {
    .loginTitle{
        font-size: 50px;
    }

}

/* LAPTOP */
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .loginTitle{
        font-size: 40px;
    }
    
}

/* TABLET */
@media screen and (max-width: 768px) and (min-width: 426px) {
    .loginTitle{
        font-size: xx-large;
    }

}

/* MOBILE */
@media screen and (max-width: 426px) {
    .loginTitle{
        font-size: xx-large;
    }
    .loginAccountTxt{
        font-size: small;
    }
    .loginShadowBox{
        height: 60vh;
    }

}