.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

.doubleFont{
  font-family: 'IM Fell Double Pica SC', serif;
}
.dwFont{
  font-family: 'IM Fell DW Pica', serif;
}

.bg{
  background-color: #4A423F;
}

.navbarBg{
  background-color:#f1f1f1;
}
.navMargin{
  margin-left:-50px;
}
.navText{
  color:#445435;
  font-size: larger;
  margin-top: 25%;
}

.logo{
  margin-left: -30px;
}
