@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

.doubleFont {
  font-family: 'IM Fell Double Pica SC', serif;
}

.dwFont {
  font-family: 'IM Fell DW Pica', serif;
}

.caBox {
  position: absolute;
  background-color: #272424d0;
  color: white;
  height: 70%;
  width: 70%;
  margin-top: -57%;
  margin-left: 15%;
  border-radius: 5px;
}

.caTitle {
  font-size: 40px;
  text-align: center;
  color: #768e5f;
}

#caTitle {
  text-shadow: -1px 1px 0 #141514,
                1px 1px 0 #141514,
                 1px -1px 0 #141514;
}
.caShortInput{
  border-radius: 5px;
  height: 40px;
  width: 105%
}
.caLongInput{
  margin-left: 12px;
  width: 503px;
  height: 40px;
  border-radius: 5px;
}

.caLongInput2{
  margin-left: 12px;
  width: 503px;
  height: 40px;
  border-radius: 5px;
}

.caBtn {
  background-color: #576946;
  border-color: #141514;
}

.caPpTxt{
  margin-left: 50px;
}

.caPlus {
  width: 100px;
  height: 100px;
  margin-left: -43%;
  margin-top: 30%;
}

.caImageBtn{
  position: absolute;
  margin-top: 45%;
  margin-left: 20.5%;
  width: 200px;
  height: 70px;
  background-color: #768e5f;
  border-color: #141514;
}